.cell {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.wrapped{
    white-space: pre-wrap;
}

.rmwc-data-table{
    width: 100%;
}

.rmwc-data-table__content{
    width: 100%;
}

.main-cell{
    width: 60%;
}